<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="debug" value="true"/>
  </appSettings>
  
  <configSections>
    <section name="version" type="System.Configuration.NameValueSectionHandler"/>
    <section name="mysql" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="network" type="System.Configuration.NameValueSectionHandler">
      <section name="realm" type="System.Configuration.NameValueSectionHandler"/>
      <section name="game" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <version>
    <add key="major" value="2" />
    <add key="minor" value="3" />
    <add key="release" value="3" />
    <add key="revision" value="40103" />
    <add key="patch" value="1" />
    <add key="buildtype" value="0" />
  </version>

  <mysql>
    <add key="interval" value="10"/> <!--Minutes-->
    <add key="database" value="aldos"/>
    <add key="host" value="localhost"/>
    <add key="user" value="root"/>
    <add key="password" value=""/>
  </mysql>

  <network>
    <add key="ip" value="127.0.0.1"/>
    
    <realm>
      <add key="port" value="443"/>
    </realm>

    <game>
      <add key="guid" value="12"/> <!--appearance of server-->
      <add key="port" value="5556"/>
      <add key="startLevel" value="1"/>
      <add key="startMap" value="2323"/>
      <add key="startCell" value="355"/>
      <add key="motd" value="Bienvenue sur Aldos, émulateur par Blackrush pour Dofus 2 produit par Ankama Games."/>
    </game>
  </network>
</configuration>